### Customised .gitignore

### WebStorm, JetBrains
.idea

### Visual Studio Code
.vscode

### macOS
.DS_Store

### npm
node_modules

### bower
bower_components

### development and build folders
build
development
dist
release

### temporary folders
tmp
.tmp

### Logs
*.log*
npm-debug.log*

### Others
*.csv
*.xml
*.dat
*.iml
*.out
*.sublime*
*.swo
*.swp
*.tgz
*.zip
