### Customised .gitignore

### JetBrains, WebStorm
.idea

### Visual Studio Code
.vscode

### macOS
.DS_Store

### Node.gitignore
node_modules

### Bower
bower_components

### build folders
build
development
dist
release
tmp
.tmp

### Logs
*.log*
npm-debug.log*

### Others
*.csv
*.xml
*.dat
*.iml
*.out
*.sublime*
*.swo
*.swp
*.tgz
*.zip
