/* ---- reset ---- */
body {
  margin: 0;
  /*font: normal 75% Helvetica, Arial, sans-serif;*/
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial,  微軟正黑體, sans-serif;;
  color: #000000;
  background-color: #000000;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 780px;
  background-color: #080a1e;
  /*background-color: #000000;*/
  /*background-image: url("");*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ----- nw-navigation ----- */

.nw-navigation {
  z-index: 3500;
  position: fixed;
  top: 0;
  width: 100%;
  color: #FFFFFF;
  /*height: 90px;*/
  min-height: 90px; /* 給予 RWD 彈性 */
  text-align: center;
  background: transparent;

  display: -webkit-flex;
  display: flex;
}

.nw-navigation-brand {
  height: 90px;
  color: #FFFFFF;
  font-size: 28px;

  /*-webkit-transition: color .3s ease;*/
  /*-moz-transition: color .3s ease;*/
  /*-ms-transition: color .3s ease;*/
  /*-o-transition: color .3s ease;*/
  /*transition: color .3s ease;*/

  /* div 垂直置中  */
  display: -webkit-flex;
  display: flex;

  /*-webkit-flex: none;*/
  /*flex: none;*/

  -webkit-align-items: center;
  align-items: center;

  -webkit-flex: 1; /* flex-grow */
  flex: 1;

  justify-content: space-between;

  margin-left: 150px;

  /*border: 1px solid blue;*/
}
.nw-navigation-brand .nw-navigation-brand-title {

  cursor: pointer;
  color: white;
  text-decoration: none;
}

.nw-navigation-brand #navigation-btn {
  /* default */
  display: none;
}
.nw-navigation-brand .nw-navigation-brand-btn {
  padding: 5px;
  color: #ffffff;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  text-decoration: none;
  background: transparent;
}

.nw-navigation-list {
  height: 90px;

  display: -webkit-flex;
  display: flex;

  -webkit-flex-: 2; /* flex-grow */
  flex: 2;

  /* 垂直置中 */
  -webkit-align-items: center;
  align-items: center;
  /* 水平靠右 */
  -webkit-justify-content: flex-end;
  justify-content: flex-end;

  /*-webkit-margin-before: auto; !* margin-top:auto *!*/
  /*-webkit-margin-after: auto; !* margin-bottom: auto *!*/
  /*-webkit-margin-start: auto; !* margin-left: auto *!*/
  /*margin-inline-start: auto; !* for Firefox *!*/

  /*-webkit-margin-end: 100px; !* margin-right: 100px *!*/
  /*margin-inline-end: 100px; !* for Firefox *!*/
  margin-right: 100px; /* for unsupported -webkit-margin-end browser */

}

.nw-navigation-list > ul {
  /*border: 1px solid green;*/
}

.nw-navigation-list ul li {

  display: inline-block;
  position: relative; /* dropdown position*/

  /*cursor: pointer;*/
  background-color: transparent;

}

.nw-navigation-list ul li a {
  height: 90px;

  cursor: pointer;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  padding: 35px 15px;

  -webkit-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -ms-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

.nw-navigation-list ul li a:hover {
  /*background: transparent;*/
  color: #4994f2;
}

@media (max-width: 960px) {
  .nw-navigation-brand {
    height: 90px;
    margin-left: 70px;
  }

  .nw-navigation-list {
    margin-right: 15px;
  }
  .nw-navigation-list ul { }
}

@media (max-width: 768px) {

  .nw-navigation {
    /*display: flex;*/
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .nw-navigation-brand {

    height: 90px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .nw-navigation-list {
    height: auto;     /* 隨 ul li 增加*/

    -webkit-justify-content: flex-start;
    justify-content: flex-start;


    margin-left: 15px;
    margin-right: 15px;
  }

  .nw-navigation-list ul {
    width: 100%;
    margin: 0 auto;

    /*background-color: rgba(0, 0, 0, 0.9);*/
    border-radius: 5px;

  }

  .nw-navigation-list ul li {
    width: 100%;
    text-align: left;
  }

  .nw-navigation-list ul li a {
    width: 100%;
    text-align: left;
    line-height: 48px;
    padding: 0;
  }

}

.nw-navigation-list ul li ul {
  text-align: left;
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 200px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  /* 利用 visibility & opacity 隱藏下拉式選單 */
  /* 不使用 display: none; 會影響到 transition 效果 */
  /*display: none;*/
  visibility: hidden;
  opacity: 0;

  /* transition 只能使用 opacity, all 會影響hover到其他物件 */
  /* TODO Safari 無transition 效果 */
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.nw-navigation-list ul li:hover ul {
  /* 利用 visibility & opacity 開啟下拉式選單 */
  display: block;
  opacity: 1;
  visibility: visible;
}

.nw-navigation-list ul li ul li {
  display: block;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.9); /* TODO 會被opacity 覆蓋 */
  text-shadow: 0 -1px 0 #000;

  padding: 15px;
}

.nw-navigation-list ul li ul li:hover {
  cursor: pointer;
  color: #4994f2;
  background-color: #666666;
}

.nw-navbar-shadow {
  background-color: rgba(0, 0, 0, 0.6);
  /*opacity: 0.7;*/
  /*background-color: #000000;*/
  /* It's will apply opacity to child element, or use background-color: rgba(0,0,0,0.7) instead. */
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;

  /* Adds shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;

}

.nw-navbar-shadow-2x {

  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.3s ease-in-out;
  moz-transition: all 0.3s ease-in-out;
  webkit-transition: all 0.3s ease-in-out;

  /* Adds shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
}

/* ----- page-hero ----- */
.page-hero {
  color: #fff;
  text-align: center;
  background-color: #1A222C;
  min-height: 780px;
  /*margin-top: -86px;*/
  position: relative;
  overflow: hidden;
}

.page-hero .container {
  /*width: 100%;*/
}

.page-hero .title-1 {

  top:400px;
  position: relative;

  font-size: 44px;
  /*font-weight: 300;*/
  z-index: 50;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}

.page-hero .title-2 {


  top:430px;
  position: relative;

  font-size: 22px;
  /*font-weight: 300;*/

  z-index: 50;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.page-hero .nw-btn {

  top:480px;
  position: relative;

  padding: 15px;

  color: #FFFFFF;
  font-size: 22px;
  text-decoration: none;
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  z-index: 50;
}

.page-hero .nw-btn:hover {
  color: #4994f2;
  background: transparent;
  border: 2px solid #4994f2;
}

#le-dots {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  /*bottom: 0;*/

  /*left: -100px;*/
  /*right: -100px;*/
  /*top: -100px;*/
  /*bottom: -100px;*/
  z-index: 5;
}

/* ----- section-card ----- */

.section-card {
  width: 100%;
  /*height: 780px;*/
  min-height: 780px; /* RWD*/
  text-align: left;


  /*style-1*/
  /*background-color: #49BEF2;*/
  /*style-2*/
  background-image: -webkit-linear-gradient(135deg, #5BB359 0%, #49BEF2 65%);
  background-image: -o-linear-gradient(135deg, #5BB359 0%, #49BEF2 65%);
  background-image: -moz-linear-gradient(135deg, #5BB359 0%, #49BEF2 65%);
  background-image: linear-gradient(135deg, #5BB359 0%, #49BEF2 65%);
  /*style-3*/
  background-image: linear-gradient(45deg, #4361c2, #4fa49a 50%, #9dc66b 95%);
}

#card-content {
  padding: 120px 150px;
}

@media (max-width: 1200px) {
  #card-content {
    padding: 100px 50px;
  }
}

@media (max-width: 900px) {
  #card-content {
    padding: 100px 50px;
  }
}

@media (max-width: 768px) {
  #card-content {
    padding: 100px 15px;
  }
}

#card-image01 img {
  width: 150px;
  border-radius: 100%;
}

#card-username {
  font-size: 44px;
  color: white;
  margin-top: 20px;
}

#card-divider01 {
  display: block;
  width: 20%;
  height: 1px;
  margin: 10px 0px;
  background: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.4);
}

#card-description01 {
  color: #FFFFFF;
  font-size: 24px;
  margin-top: 20px;
}

#card-text01 {
  font-size: 20px;
  margin-top: 50px;
}

.card-text-color01 {
  color: navy;
}

.card-text-weight900 {
  font-weight: 900;
}

/* ----- section-education ----- */

/*.section-education {*/
/*width: 100%;*/
/*height: 300px;*/
/*background-color: #FFFFFF;*/
/*}*/

/* ----- section-experience ----- */

/*.section-experience {*/
/*width: 100%;*/
/*height: 300px;*/
/*background-color: #FFFFFF;*/
/*}*/


/* ----- section-contact ----- */

.section-contact {
  width: 100%;
  height: 300px;
  background-image: url('https://s3-ap-northeast-1.amazonaws.com/northwalker/static/ST_background_2.jpg');

}


.section-contact .section-contact-container {

  padding: 150px 15px 60px;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;

  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.contact-info {
  padding: 20px 40px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  background-color: rgba(255,255,255,0.1);
}

.contact-info:hover{
  color: #F1A42B;
  /*border: 5px solid #F1A42B;*/
  background-color: #FFFFFF;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

}
.contact-info-text {
  font-size: 28px;
}
.contact-info-icon  {
  margin: auto 10px;
  font-size: 28px;
}

/* ----- section-additional ----- */

.section-additional {
  width: 100%;
  height: 300px;
  /*background-color: #1D9C72;*/
  /*background-color: #37c0fb;*/
  background-image:  linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
  background-color: #f08c89;


  display: none;
}

.section-additional .section-additional-container {

  padding: 100px 15px 60px;
  display: flex;
  flex-direction: row;

  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.additional-info {
  padding: 20px 40px;
  border: 3px solid #FFFFFF;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  background-color: rgba(255,255,255,0.3);
}

.additional-info:hover {
  color: #f08c89;
  background-color: #FFFFFF;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;

}

.additional-info-text {
  font-size: 40px;
  /*font-weight: bold;*/
  /*text-shadow: 4px 3px 0 #1d9d74,9px 8px 0 rgba(0,0,0,0.15);*/
  /*text-shadow: 4px 3px 0 #f08c89,9px 8px 0 rgba(0,0,0,0.15);*/
}
.additional-info-icon  {
  margin: auto 10px;
  font-size: 40px;
}

/* ----- section-gmap ----- */

.section-gmap {
  width: 100%;
  height: 400px;
}

/* ----- nw-footer ----- */

.nw-footer {
  width: 100%;
  color: #FFFFFF;
  background-color: #2A2730;
}

.nw-footer .nw-footer-content {

  /*height: 200px;*/

  width: 100%;
  color: #FFFFFF;
  background-color: #2A2730;

  padding: 60px 0 20px 0; /* top right bottom left*/
  color: #FFFFFF;
  text-shadow: none;
  text-align: center;

}

.nw-footer .nw-footer-content a {
  padding: 10px;
  text-decoration: none;
  color: #FFFFFF;

  -webkit-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -ms-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

.nw-footer .nw-footer-content a:hover {
  color: #E7746F;

}

.nw-footer .copy-right {
  margin: 20px;
}

/* ============================================================ */
/* ============================================================ */
/* ============================================================ */
