/* ---- reset ---- */
.test-autoprefixer {
  display: flex;
}

body {
  margin: 0;
  padding: 0;
  /*font: normal 75% Helvetica, Arial, sans-serif;*/
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft JhengHei", sans-serif;;
  color: #000000;
  background-color: #2A2730;
}

canvas {
  display: block;
  vertical-align: bottom;
}

.fontArchivoBlack {
  font-family: 'Archivo Black', sans-serif;
}

.fontTangerine {
  font-family: 'Tangerine', cursive;
}

.fontLato {
  font-family: 'Lato', sans-serif;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 780px;
  background-color: #000000;  /* Default color */
  /*background: url('https://static.northwalker.site/background/ST-sky-lantern.jpg') no-repeat center center fixed;*/
  /*background:url(https://static.northwalker.site/background/NewYork201610.jpg);*/
  background-image: url(https://static.northwalker.site/background/NewYork-2016-1.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;


}

@media (min-width: 768px) {
	#particles-js {
		/*Mobile broswer disable attachment: fixed;*/
		background-attachment: fixed;
	}
}

/* ----- nw-navigation ----- */

.nw-navigation {
  z-index: 3500;
  position: fixed;
  top: 0;
  width: 100%;
  color: #FFFFFF;
  /*height: 90px;*/
  min-height: 90px; /* 給予 RWD 彈性 */
  text-align: center;
  background: transparent;

  display: -webkit-flex;
  display: flex;
}

.nw-navigation-brand {
  height: 90px;
  color: #FFFFFF;
  font-size: 44px;

  /* div 垂直置中  */
  display: -webkit-flex;
  display: flex;

  /*-webkit-flex: none;*/
  /*flex: none;*/

  -webkit-align-items: center;
  align-items: center;

  -webkit-flex: 1; /* flex-grow */
  flex: 1;

  justify-content: space-between;

  margin-left: 150px;

  /*border: 1px solid blue;*/
}

.nw-navigation-brand .nw-navigation-brand-title {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.nw-navigation-brand .nw-navigation-brand-list {
  /* default */
  /*display: none;*/

}

.nw-navigation-brand-list{
  width: 100%;
  padding-right: 15px;
  padding-left: 60px;

  display: -webkit-flex;
  display: flex ;

  -webkit-flex-direction: row;
  flex-direction: row;

  /* 兩端使用 padding right left 控制較優 */
  -webkit-justify-content: space-between;
  justify-content: space-between;

}

.nw-navigation-brand-list-item{
  cursor: pointer;
}

.nw-navigation-brand-list-item:hover{
  cursor: pointer;
  color: #4994f2;

  -webkit-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -ms-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

.nw-navigation-list {
  height: 90px;

  display: -webkit-flex;
  display: flex;

  -webkit-flex-: 2; /* flex-grow */
  flex: 2;

  /* 垂直置中 */
  -webkit-align-items: center;
  align-items: center;
  /* 水平靠右 */
  -webkit-justify-content: flex-end;
  justify-content: flex-end;

  margin-right: 75px; /* 可能需要依據 menu list item數量做 RWD 修改*/

}

.nw-navigation-list ul li {

  display: inline-block;
  position: relative;

  /*cursor: pointer;*/
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;

}

.nw-navigation-list ul li:after {
  /*底線動畫*/
  content: '';
  display: block;
  margin: auto;
  height: 5px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.nw-navigation-list ul li:hover:after {
  /*底線動畫*/
  width: 100%;
  background: #4994f2;
}

.nw-navigation-list ul li span {
  /* 增加這一層控制底線長度 */

}

.nw-navigation-list ul li a {
  height: 90px;

  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  color: #FFFFFF;
  -webkit-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -ms-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

.nw-navigation-list ul li a:hover {
  /*background: transparent;*/
  color: #4994f2;
}

.nw-navigation-list ul li a .linkText{
  padding-left: 10px;
  vertical-align: bottom;

}

@media (min-width: 1400px) {

  .nw-navigation-list{
    margin-right: 150px;
  }
  .nw-navigation-list ul li {
    padding-left: 20px;
    padding-right: 20px;
  }

}

@media (max-width: 1440px) {

  .nw-navigation-list{
    margin-right: 100px;
  }
  .nw-navigation-list ul {
    padding-left: 10px; /*overwrite ul default*/
  }
  .nw-navigation-list ul li {
    padding-left: 15px;
    padding-right: 15px;
  }

}

@media (max-width: 1024px) {
  .nw-navigation-brand {
    height: 90px;
    margin-left: 60px;
    font-size: 36px;
  }

  .nw-navigation-list {
    margin-right: 50px;
  }

  .nw-navigation-list ul {
    padding-left: 0px; /*overwrite ul default*/
  }
  .nw-navigation-list ul li {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 768px) {

  .nw-navigation {
    /*display: flex;*/
    -webkit-flex-direction: column; /* 如果需顯示 nw-navigation-list */
    flex-direction: column;
  }

  .nw-navigation-brand {
    height: 90px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 36px;
  }

  .nw-navigation-list {
    height: auto; /* 隨 ul li 增加*/

    -webkit-justify-content: flex-start;
    justify-content: flex-start;

    margin-left: 15px;
    margin-right: 15px;
  }

  .nw-navigation-list ul {
    width: 100%;
    margin: 0 auto;

    /*background-color: rgba(0, 0, 0, 0.9);*/
    border-radius: 5px;

  }

  .nw-navigation-list ul li {
    width: 100%;
    text-align: left;
  }

  .nw-navigation-list ul li a {
    width: 100%;
    text-align: left;
    line-height: 48px;
    padding: 0;
  }

}

.nw-navbar-shadow {
  background-color: rgba(0, 0, 0, 0.6);
  /*opacity: 0.7;*/
  /*background-color: #000000;*/
  /* It's will apply opacity to child element, or use background-color: rgba(0,0,0,0.7) instead. */
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;


  /* Adds shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;

}

.nw-navbar-shadow-2x {

  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

  /* Adds shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
}

/* ----- page-hero ----- */
.page-hero {
  color: #fff;
  text-align: center;
  background-color: #1A222C;
  min-height: 780px;
  /*margin-top: -86px;*/
  position: relative;
  overflow: hidden;
}

.page-hero .container {
  /*width: 100%;*/
}

.page-hero .title-1 {

  top: 400px;
  position: relative;

  padding-left:  15px;
  padding-right:  15px;
  font-size: 44px;
  /*font-weight: 300;*/
  z-index: 50;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}

.page-hero .title-2 {

  top: 430px;
  position: relative;
  padding-left:  15px;
  padding-right:  15px;
  font-size: 28px;
  /*font-weight: 300;*/
  z-index: 50;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.page-hero .nw-btn {

  top: 480px;
  position: relative;

  padding: 15px;
  margin: 15px;
  fill: #FFFFFF; /* For SVG icon */
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  background: transparent;
  border: 5px solid white;
  border-radius: 10px;
  z-index: 50;
  cursor: pointer;
}

.page-hero .nw-btn:hover {
  fill: #4994f2; /* For SVG icon */
  color: #4994f2;
  background: transparent;
  border: 5px solid #4994f2;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;

}

#le-dots {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  /*bottom: 0;*/

  /*left: -100px;*/
  /*right: -100px;*/
  /*top: -100px;*/
  /*bottom: -100px;*/
  z-index: 5;
}

/* ----- section-about ----- */

.about {
  width: 100%;
  height: 780px;
  background-image: url('https://static.northwalker.site/background/greenCoverTaiChung.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.about-container {
  font-size: 20px;

  padding-top: 400px;
  padding-left: 150px;
  padding-right: 150px;

  color: white;
}

@media (min-width: 1440px) {
  .about-container {
    padding-top: 300px;
    font-size: 24px;
  }
}

@media (max-width: 1440px) {
  .about-container {
    font-size: 20px;
    padding-top: 400px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 1200px) {
  .about-container {
    font-size: 20px;
    padding-top: 400px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 900px) {
  .about-container {
    font-size: 20px;
    padding-top: 400px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 768px) {
  .about-container {
    font-size: 20px;
    padding-top: 300px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
}

@media (max-width: 400px) {
  .about-container {
    font-size: 20px;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
}

.about-text-container {
  margin-top: 50px;
  border-radius: 8px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-text {
  margin: 5px;
}

/* ----- section-skill ----- */

.skill{
  background-color: #FFFFFF;
  padding-top: 50px; /* maybe for temp*/
  padding-bottom: 50px;
}

.skill-card-container {
  /*border: 1px solid lightblue;*/

  /*padding-top: 75px;*/
  /*padding-bottom: 25px;*/

  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}

.skill-card {
  width: 30%;
  margin: 15px;
  /*padding: 15px;*/

  border: 2px solid limegreen;  /* 影響 flex */
  border-radius: 7px;

  /*display: flex;*/             /* icon 與 content 並排 */
  /*-webkit-justify-content: center;*/
  /*justify-content: center;*/
}

@media (min-width: 1440px) {
  .skill-card {
    /*width: 24%;*/
    /*margin: 5px;*/
  }
}

@media (max-width: 1200px) {
  .skill-card {
    width: 45%;
  }
}

@media (max-width: 900px) {
  .skill-card {
    /*width: 45%;*/
  }
}

@media (max-width: 768px) {
  .skill-card {
    width: 100%;
    /*min-width: 300px;*/
  }
}

.skill-card-icon {
  margin: 10px;
  color: limegreen;
  text-align: center;
}

.skill-card-content-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.skill-card-content-list {
  color: limegreen;  /* for li bullet */
  font-size: 18px;
  margin-top: 20px;

  /* over write ul */
}

.skill-card-content-list span{
  color: black;     /* for li text */
}

.skill-card-content-list .second-list {
  font-size: 16px;
  color: black;
}

/* ----- section-education ----- */

/*.education {*/
/*width: 100%;*/
/*height: 300px;*/
/*background-color: #FFFFFF;*/
/*}*/

/* ----- section-experience ----- */

/*.experience {*/
/*width: 100%;*/
/*height: 300px;*/
/*background-color: #FFFFFF;*/
/*}*/

/* ----- section-contact ----- */

.contact {
  width: 100%;
  height: 300px;
  background-image: url('https://static.northwalker.site/background/ST-sky-lantern.jpg');

  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
	.contact {
		/*Mobile broswer disable attachment: fixed;*/
		background-attachment: fixed;
	}
}

.contact-container {

  padding: 150px 15px 60px;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;

  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.contact-info {
  padding: 20px 40px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
}

.contact-info-1:hover {
  /* */
  color: #F1A42B;
  /*border: 5px solid #F1A42B;*/
  background-color: #FFFFFF;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

}

.contact-info-text {
  font-size: 24px;
}

.contact-info-icon {
  margin: auto 10px;
  /*font-size: 24px;*/
}

/* ----- section-additional ----- */

.additional {
  width: 100%;
  height: 300px;
  /*background-color: #1D9C72;*/
  /*background-color: #37c0fb;*/
  background-image: linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
  background-color: #f08c89;

  display: none;
}

.additional-container {

  padding: 100px 15px 60px;
  display: flex;
  flex-direction: row;

  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.additional-info {
  padding: 20px 40px;
  border: 3px solid #FFFFFF;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}

.additional-info:hover {
  color: #f08c89;
  background-color: #FFFFFF;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;

}

.additional-info-text {
  font-size: 40px;
  /*font-weight: bold;*/
  /*text-shadow: 4px 3px 0 #1d9d74,9px 8px 0 rgba(0,0,0,0.15);*/
  /*text-shadow: 4px 3px 0 #f08c89,9px 8px 0 rgba(0,0,0,0.15);*/
}

.additional-info-icon {
  margin: auto 10px;
  font-size: 40px;
}

/* ----- section-gmap ----- */

.map {
  width: 100%;
  height: 400px;
}

/* ----- nw-footer ----- */

.nw-footer {
  width: 100%;
  color: #FFFFFF;
  background-color: #2A2730;
}

.nw-footer .nw-footer-content {

  /*height: 200px;*/

  width: 100%;
  color: #FFFFFF;
  background-color: #2A2730;

  padding: 60px 0 20px 0; /* top right bottom left*/
  color: #FFFFFF;
  text-shadow: none;
  text-align: center;

}

.nw-footer .nw-footer-content a {
  padding: 10px;
  text-decoration: none;
  color: #FFFFFF;

  -webkit-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -ms-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

.nw-footer .nw-footer-content a:hover {
  color: #E7746F;

}

.nw-footer .copy-right {
  margin: 20px;
}

@media (max-width: 400px) {
	.nw-footer .nw-footer-content .hide-when-xs {
		display: none; /* TEMP for RWD */
	}
}

/* ============================================================ */
/* ============================================================ */
/* ============================================================ */

.icon-vertical-align {
  vertical-align: middle;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.nw-footer-icon svg {
  cursor: pointer;
  fill: #FFFFFF;
}

.nw-footer-icon svg:hover {
  fill: #E7746F;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
