@font-face {
  font-family: 'icomoon';
  src: url('https://static.northwalker.site/fonts/icomoon.eot?ansoa3');
  src: url('https://static.northwalker.site/fonts/icomoon.eot?ansoa3#iefix') format('embedded-opentype'),
  url('https://static.northwalker.site/fonts/icomoon.ttf') format('truetype'),
  url('https://static.northwalker.site/fonts/icomoon.woff') format('woff'),
  url('https://static.northwalker.site/fonts/icomoon.svg?ansoa3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\f067";
}

.icon-minus:before {
  content: "\f068";
}

.icon-search:before {
  content: "\f002";
}

.icon-envelope-o:before {
  content: "\f003";
}

.icon-heart:before {
  content: "\f004";
}

.icon-star:before {
  content: "\f005";
}

.icon-star-o:before {
  content: "\f006";
}

.icon-user:before {
  content: "\f007";
}

.icon-film:before {
  content: "\f008";
}

.icon-check:before {
  content: "\f00c";
}

.icon-close:before {
  content: "\f00d";
}

.icon-remove:before {
  content: "\f00d";
}

.icon-times:before {
  content: "\f00d";
}

.icon-search-plus:before {
  content: "\f00e";
}

.icon-search-minus:before {
  content: "\f010";
}

.icon-cog:before {
  content: "\f013";
}

.icon-gear:before {
  content: "\f013";
}

.icon-trash-o:before {
  content: "\f014";
}

.icon-home:before {
  content: "\f015";
}

.icon-repeat:before {
  content: "\f01e";
}

.icon-rotate-right:before {
  content: "\f01e";
}

.icon-refresh:before {
  content: "\f021";
}

.icon-lock:before {
  content: "\f023";
}

.icon-flag:before {
  content: "\f024";
}

.icon-qrcode:before {
  content: "\f029";
}

.icon-barcode:before {
  content: "\f02a";
}

.icon-tag:before {
  content: "\f02b";
}

.icon-tags:before {
  content: "\f02c";
}

.icon-book:before {
  content: "\f02d";
}

.icon-bookmark:before {
  content: "\f02e";
}

.icon-camera:before {
  content: "\f030";
}

.icon-video-camera:before {
  content: "\f03d";
}

.icon-image:before {
  content: "\f03e";
}

.icon-photo:before {
  content: "\f03e";
}

.icon-picture-o:before {
  content: "\f03e";
}

.icon-map-marker:before {
  content: "\f041";
}

.icon-ban:before {
  content: "\f05e";
}

.icon-exclamation-triangle:before {
  content: "\f071";
}

.icon-warning:before {
  content: "\f071";
}

.icon-plane:before {
  content: "\f072";
}

.icon-calendar:before {
  content: "\f073";
}

.icon-bar-chart:before {
  content: "\f080";
}

.icon-bar-chart-o:before {
  content: "\f080";
}

.icon-key:before {
  content: "\f084";
}

.icon-cogs:before {
  content: "\f085";
}

.icon-gears:before {
  content: "\f085";
}

.icon-heart-o:before {
  content: "\f08a";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-github:before {
  content: "\f09b";
}

.icon-globe:before {
  content: "\f0ac";
}

.icon-arrows-alt:before {
  content: "\f0b2";
}

.icon-group:before {
  content: "\f0c0";
}

.icon-users:before {
  content: "\f0c0";
}

.icon-chain:before {
  content: "\f0c1";
}

.icon-link:before {
  content: "\f0c1";
}

.icon-cloud:before {
  content: "\f0c2";
}

.icon-magic:before {
  content: "\f0d0";
}

.icon-envelope:before {
  content: "\f0e0";
}

.icon-linkedin:before {
  content: "\f0e1";
}

.icon-cloud-download:before {
  content: "\f0ed";
}

.icon-cloud-upload:before {
  content: "\f0ee";
}

.icon-coffee:before {
  content: "\f0f4";
}

.icon-fighter-jet:before {
  content: "\f0fb";
}

.icon-flag-o:before {
  content: "\f11d";
}

.icon-terminal:before {
  content: "\f120";
}

.icon-code:before {
  content: "\f121";
}

.icon-code-fork:before {
  content: "\f126";
}

.icon-puzzle-piece:before {
  content: "\f12e";
}

.icon-calendar-o:before {
  content: "\f133";
}

.icon-rocket:before {
  content: "\f135";
}

.icon-stack-overflow:before {
  content: "\f16c";
}

.icon-bank:before {
  content: "\f19c";
}

.icon-institution:before {
  content: "\f19c";
}

.icon-university:before {
  content: "\f19c";
}

.icon-graduation-cap:before {
  content: "\f19d";
}

.icon-mortar-board:before {
  content: "\f19d";
}

.icon-cubes:before {
  content: "\f1b3";
}

.icon-codepen:before {
  content: "\f1cb";
}

.icon-jsfiddle:before {
  content: "\f1cc";
}

.icon-paper-plane-o:before {
  content: "\f1d9";
}

.icon-send-o:before {
  content: "\f1d9";
}

.icon-share-alt:before {
  content: "\f1e0";
}

.icon-area-chart:before {
  content: "\f1fe";
}

.icon-pie-chart:before {
  content: "\f200";
}

.icon-line-chart:before {
  content: "\f201";
}

.icon-server:before {
  content: "\f233";
}

.icon-medium:before {
  content: "\f23a";
}

.icon-map-o:before {
  content: "\f278";
}

.icon-fort-awesome:before {
  content: "\f286";
}

.icon-usb:before {
  content: "\f287";
}

.icon-snowflake-o:before {
  content: "\f2dc";
}

.icon-md {
  font-size: 32px;
}
