canvas {
  display: block;
}

#home {
  width: 100vw;
  height: 100vh;
  min-height: 425px;
  background-color: #000000;
  background-image: url(https://storage.googleapis.com/static.northwalker.site/bg/NewYork2016.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; //
  background-attachment: fixed;
  @media (max-width: 768px) {
    /*
     * Mobile broswer disable attachment: fixed;
     */
    background-attachment: scroll;
  }
  #js-particles {
    &-container {
      z-index: 1;
      position: absolute;
      left: 0;
      right: 0;
      top: 0; //
      // bottom: 0;
    }
  }
  .container {
    z-index: 2;
    position: relative; // show the title!
    @media (min-width: 768px) {
      top: calc(65vh);
      padding: 0 30px;
    }
    @media (max-width: 768px) {
      top: calc(55vh);
      padding: 0 15px;
    }
    text-align: center;
    color: #FFFFFF;
    .title {
      font-size: 44px;
      text-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    }
    .subtitle {
      font-size: 28px;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    }
    .btn {
      display: inline-block;
      padding: 15px;
      margin: 15px;
      color: #FFFFFF;
      background: transparent;
      text-align: center;
      text-decoration: none;
      border: 3px solid #FFFFFF;
      border-radius: 6px;
      font-size: 24px;
      font-weight: bold;
      transition: .3s ease;
      cursor: pointer;
      .icon-github {
        display: inline-block; // transform animate
        transition: transform 1.25s; //
        // transform: rotate(0);
        // &:hover {
        //   transform: rotate(1turn);
        // }
      }
      &:hover {
        color: #3475C0; // #4994F2;
        border: 3px solid#3475C0; // #4994F2;
        .icon-github {
          transform: rotate(1turn);
        }
      }
    }
  }
}
