html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.highlight {
    color: #0088FF !important;
}
.hide {
    visibility: hidden;
}
.icon-link {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 16px 20px 16px 0;
    color: #505050;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.5s ease, transform 0.5s linear;
    cursor: pointer;
    @media (hover: hover) {
        &:hover {
            color: #0088ff; // #0088FF;
            transform: translate3d(0, -8px, 0);
        }
    }
}

.email-link {
    display: inline-block; // margin: 16px 24px 16px 0;
    color: #0088ff;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    text-decoration: none;
    transition: all 0.5s ease;
    cursor: pointer;
    @media (hover: hover) {
        &:hover {
            color: #0088ff; // #0088FF;
            text-decoration: underline;
        }
    }
}

.btn-link {
    display: inline-block;
    margin: 16px 24px 16px 0;
    color: #505050;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    text-decoration: none;
    transition: all 0.5s ease;
    cursor: pointer;
    @media (hover: hover) {
        &:hover {
            color: #0088ff; // #0088FF;
            text-decoration: underline;
        }
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(33px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 1023.98px) {
    .btn-link {
        margin: 16px;
    }
    .icon-link {
        margin: 16px;
    }
}

@media only screen and (max-width: 767.98px) {}